.btn-minus{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 30px;
    background-color: purple;
    color: white;
    font-weight: 900;
}

.btn-plus{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 30px;
    background-color: #19A69F;
    color: white;
    font-weight: 900;
}

.span-count{
    font-size: 30px;
    font-weight: 700;
}